[submodule "dl-ocr-bench"]
	path = dl-ocr-bench
	url = https://github.com/tony-pitchblack/dl-ocr-bench.git
[submodule "mmocr"]
	path = mmocr
	url = https://github.com/tony-pitchblack/mmocr.git
	branch = tony-pitchblack/fixes
[submodule "mmengine"]
	path = mmengine
	url = https://github.com/tony-pitchblack/mmengine
	branch = tony-pitchblack/enhance-ckpt-logging
[submodule "mmpose"]
	path = mmpose
	url = https://github.com/open-mmlab/mmpose.git
[submodule "data/bonting-identification"]
	path = data/bonting-identification
	url = git@hf.co:datasets/exponenta/bonting-identification
[submodule "data/3d_cattle_demo"]
	path = data/3d_cattle_demo
	url = git@hf.co:datasets/exponenta/3d_cattle_demo
